<p [innerText]="msg" class="bg-dark text-white p-3 text-center text-capitalize"></p>

<p [innerHTML]="info" class="bg-success p-3 text-center text-capitalize"></p>

<p [innerHTML]="databindingdef" class="bg-warning p-3 text-center text-white text-capitalize"></p>


<input [value]="userName" type="text" class="form-control text-center mb-3 text-capitalize text-primary"  placeholder="enter your userName" >


<p [innerText]="Angulardef" class="bg-primary p-3 text-white text-capitalize text-center"></p>

<p [innerHTML]="jsdef" class="bg-danger p-3 text-white text-center text-capitalize"></p>
